--
-- PostgreSQL database dump
--

\restrict w4zlU7Td0FeA5fET0MHW5Xi4bhXdyzkF0J7w3cpt3EyEfVgiizQMSU798hcbaHJ

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: venta_user
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO venta_user;

--
-- Name: productos; Type: TABLE; Schema: public; Owner: venta_user
--

CREATE TABLE public.productos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nombre character varying(255) NOT NULL,
    categoria character varying(50) DEFAULT 'Insumo'::character varying NOT NULL,
    precio integer DEFAULT 0 NOT NULL,
    icono character varying(10),
    descripcion character varying(500),
    activo boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    stock integer DEFAULT 0 NOT NULL,
    minimo integer DEFAULT 5 NOT NULL
);


ALTER TABLE public.productos OWNER TO venta_user;

--
-- Name: venta_items; Type: TABLE; Schema: public; Owner: venta_user
--

CREATE TABLE public.venta_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    venta_id uuid NOT NULL,
    producto_id uuid,
    producto_nombre character varying(255),
    cantidad integer DEFAULT 1 NOT NULL,
    precio_unitario integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.venta_items OWNER TO venta_user;

--
-- Name: ventas; Type: TABLE; Schema: public; Owner: venta_user
--

CREATE TABLE public.ventas (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    cliente_id character varying(50),
    cliente_nombre character varying(255),
    tipo_documento character varying(50) DEFAULT 'Factura Electr├│nica'::character varying NOT NULL,
    subtotal integer DEFAULT 0 NOT NULL,
    iva integer DEFAULT 0 NOT NULL,
    total integer DEFAULT 0 NOT NULL,
    fecha timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    estado character varying(20) DEFAULT 'Borrador'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.ventas OWNER TO venta_user;

--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: venta_user
--



--
-- Data for Name: productos; Type: TABLE DATA; Schema: public; Owner: venta_user
--



--
-- Data for Name: venta_items; Type: TABLE DATA; Schema: public; Owner: venta_user
--



--
-- Data for Name: ventas; Type: TABLE DATA; Schema: public; Owner: venta_user
--



--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: venta_user
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: venta_user
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: venta_items venta_items_pkey; Type: CONSTRAINT; Schema: public; Owner: venta_user
--

ALTER TABLE ONLY public.venta_items
    ADD CONSTRAINT venta_items_pkey PRIMARY KEY (id);


--
-- Name: ventas ventas_pkey; Type: CONSTRAINT; Schema: public; Owner: venta_user
--

ALTER TABLE ONLY public.ventas
    ADD CONSTRAINT ventas_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: venta_user
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_productos_activo; Type: INDEX; Schema: public; Owner: venta_user
--

CREATE INDEX idx_productos_activo ON public.productos USING btree (activo);


--
-- Name: idx_productos_categoria; Type: INDEX; Schema: public; Owner: venta_user
--

CREATE INDEX idx_productos_categoria ON public.productos USING btree (categoria);


--
-- Name: idx_productos_nombre; Type: INDEX; Schema: public; Owner: venta_user
--

CREATE INDEX idx_productos_nombre ON public.productos USING btree (nombre);


--
-- Name: idx_ventas_cliente; Type: INDEX; Schema: public; Owner: venta_user
--

CREATE INDEX idx_ventas_cliente ON public.ventas USING btree (cliente_id);


--
-- Name: idx_ventas_estado; Type: INDEX; Schema: public; Owner: venta_user
--

CREATE INDEX idx_ventas_estado ON public.ventas USING btree (estado);


--
-- Name: idx_ventas_fecha; Type: INDEX; Schema: public; Owner: venta_user
--

CREATE INDEX idx_ventas_fecha ON public.ventas USING btree (fecha);


--
-- Name: idx_vi_venta_id; Type: INDEX; Schema: public; Owner: venta_user
--

CREATE INDEX idx_vi_venta_id ON public.venta_items USING btree (venta_id);


--
-- Name: venta_items venta_items_venta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: venta_user
--

ALTER TABLE ONLY public.venta_items
    ADD CONSTRAINT venta_items_venta_id_fkey FOREIGN KEY (venta_id) REFERENCES public.ventas(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict w4zlU7Td0FeA5fET0MHW5Xi4bhXdyzkF0J7w3cpt3EyEfVgiizQMSU798hcbaHJ

