--
-- PostgreSQL database dump
--

\restrict bk6k8TRLFJU8gUdHluxWVW82j4fhlvPXkR9zGNbgeWMRlTYn2ewVB0FZT9hOhVQ

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: mantencion_user
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO mantencion_user;

--
-- Name: ordenes_trabajo; Type: TABLE; Schema: public; Owner: mantencion_user
--

CREATE TABLE public.ordenes_trabajo (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    codigo character varying(20) NOT NULL,
    cliente_id character varying(50),
    cliente_nombre character varying(255),
    comuna character varying(100),
    tecnico_id character varying(50),
    tecnico_nombre character varying(255),
    fecha_hora timestamp without time zone NOT NULL,
    servicio character varying(255),
    prioridad character varying(20) DEFAULT 'Normal'::character varying NOT NULL,
    estado character varying(20) DEFAULT 'Pendiente'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    tipo character varying(50),
    observaciones character varying(1000)
);


ALTER TABLE public.ordenes_trabajo OWNER TO mantencion_user;

--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: mantencion_user
--

COPY public.flyway_schema_history (installed_rank, version, description, type, script, checksum, installed_by, installed_on, execution_time, success) FROM stdin;
1	1	Create orden trabajo table	SQL	V1__Create_orden_trabajo_table.sql	-1796443769	mantencion_user	2026-07-08 04:15:48.690553	30	t
2	3	Add tipo observaciones	SQL	V3__Add_tipo_observaciones.sql	325145515	mantencion_user	2026-07-08 04:15:48.74077	4	t
\.


--
-- Data for Name: ordenes_trabajo; Type: TABLE DATA; Schema: public; Owner: mantencion_user
--



--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: mantencion_user
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: ordenes_trabajo ordenes_trabajo_codigo_key; Type: CONSTRAINT; Schema: public; Owner: mantencion_user
--

ALTER TABLE ONLY public.ordenes_trabajo
    ADD CONSTRAINT ordenes_trabajo_codigo_key UNIQUE (codigo);


--
-- Name: ordenes_trabajo ordenes_trabajo_pkey; Type: CONSTRAINT; Schema: public; Owner: mantencion_user
--

ALTER TABLE ONLY public.ordenes_trabajo
    ADD CONSTRAINT ordenes_trabajo_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: mantencion_user
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_ot_cliente; Type: INDEX; Schema: public; Owner: mantencion_user
--

CREATE INDEX idx_ot_cliente ON public.ordenes_trabajo USING btree (cliente_id);


--
-- Name: idx_ot_codigo; Type: INDEX; Schema: public; Owner: mantencion_user
--

CREATE INDEX idx_ot_codigo ON public.ordenes_trabajo USING btree (codigo);


--
-- Name: idx_ot_estado; Type: INDEX; Schema: public; Owner: mantencion_user
--

CREATE INDEX idx_ot_estado ON public.ordenes_trabajo USING btree (estado);


--
-- Name: idx_ot_fecha; Type: INDEX; Schema: public; Owner: mantencion_user
--

CREATE INDEX idx_ot_fecha ON public.ordenes_trabajo USING btree (fecha_hora);


--
-- Name: idx_ot_prioridad; Type: INDEX; Schema: public; Owner: mantencion_user
--

CREATE INDEX idx_ot_prioridad ON public.ordenes_trabajo USING btree (prioridad);


--
-- Name: idx_ot_tecnico; Type: INDEX; Schema: public; Owner: mantencion_user
--

CREATE INDEX idx_ot_tecnico ON public.ordenes_trabajo USING btree (tecnico_id);


--
-- PostgreSQL database dump complete
--

\unrestrict bk6k8TRLFJU8gUdHluxWVW82j4fhlvPXkR9zGNbgeWMRlTYn2ewVB0FZT9hOhVQ

