--
-- PostgreSQL database dump
--

\restrict 2lqZIzSQxnbF8yMvyGYr920GVqysdiQ0Od72RmmqwceI9gcWqGS2lWGRcc81YpD

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: ruta_user
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO ruta_user;

--
-- Name: tecnicos; Type: TABLE; Schema: public; Owner: ruta_user
--

CREATE TABLE public.tecnicos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    codigo character varying(20) NOT NULL,
    nombre character varying(255) NOT NULL,
    comuna character varying(100),
    estado character varying(30) DEFAULT 'Disponible'::character varying NOT NULL,
    lat double precision DEFAULT '-33.456940'::numeric,
    lng double precision DEFAULT '-70.648270'::numeric,
    telefono character varying(50),
    ruta_progreso integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.tecnicos OWNER TO ruta_user;

--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: ruta_user
--

COPY public.flyway_schema_history (installed_rank, version, description, type, script, checksum, installed_by, installed_on, execution_time, success) FROM stdin;
1	1	Create tecnico table	SQL	V1__Create_tecnico_table.sql	1449294124	ruta_user	2026-07-08 04:15:25.082837	20	t
\.


--
-- Data for Name: tecnicos; Type: TABLE DATA; Schema: public; Owner: ruta_user
--



--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: ruta_user
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: tecnicos tecnicos_codigo_key; Type: CONSTRAINT; Schema: public; Owner: ruta_user
--

ALTER TABLE ONLY public.tecnicos
    ADD CONSTRAINT tecnicos_codigo_key UNIQUE (codigo);


--
-- Name: tecnicos tecnicos_pkey; Type: CONSTRAINT; Schema: public; Owner: ruta_user
--

ALTER TABLE ONLY public.tecnicos
    ADD CONSTRAINT tecnicos_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: ruta_user
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_tecnicos_codigo; Type: INDEX; Schema: public; Owner: ruta_user
--

CREATE INDEX idx_tecnicos_codigo ON public.tecnicos USING btree (codigo);


--
-- Name: idx_tecnicos_comuna; Type: INDEX; Schema: public; Owner: ruta_user
--

CREATE INDEX idx_tecnicos_comuna ON public.tecnicos USING btree (comuna);


--
-- Name: idx_tecnicos_estado; Type: INDEX; Schema: public; Owner: ruta_user
--

CREATE INDEX idx_tecnicos_estado ON public.tecnicos USING btree (estado);


--
-- PostgreSQL database dump complete
--

\unrestrict 2lqZIzSQxnbF8yMvyGYr920GVqysdiQ0Od72RmmqwceI9gcWqGS2lWGRcc81YpD

