--
-- PostgreSQL database dump
--

\restrict 8Gynsiuj3D6fh9rUSa0cb5cbDXNwk5oR6hGyc2Q7TEgdWlSbfz9V2X4eRGL7IXm

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: dashboard_user
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO dashboard_user;

--
-- Name: inventario; Type: TABLE; Schema: public; Owner: dashboard_user
--

CREATE TABLE public.inventario (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nombre character varying(255) NOT NULL,
    cantidad integer DEFAULT 0 NOT NULL,
    unidad character varying(50) DEFAULT 'Unidades'::character varying NOT NULL,
    nivel_porcentaje integer DEFAULT 100 NOT NULL,
    estado_critico boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.inventario OWNER TO dashboard_user;

--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: dashboard_user
--

COPY public.flyway_schema_history (installed_rank, version, description, type, script, checksum, installed_by, installed_on, execution_time, success) FROM stdin;
1	1	Create inventario table	SQL	V1__Create_inventario_table.sql	1559249549	dashboard_user	2026-07-08 04:16:12.724029	15	t
\.


--
-- Data for Name: inventario; Type: TABLE DATA; Schema: public; Owner: dashboard_user
--



--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: dashboard_user
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: inventario inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: dashboard_user
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: dashboard_user
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_inventario_estado_critico; Type: INDEX; Schema: public; Owner: dashboard_user
--

CREATE INDEX idx_inventario_estado_critico ON public.inventario USING btree (estado_critico);


--
-- Name: idx_inventario_nombre; Type: INDEX; Schema: public; Owner: dashboard_user
--

CREATE INDEX idx_inventario_nombre ON public.inventario USING btree (nombre);


--
-- PostgreSQL database dump complete
--

\unrestrict 8Gynsiuj3D6fh9rUSa0cb5cbDXNwk5oR6hGyc2Q7TEgdWlSbfz9V2X4eRGL7IXm

