--
-- PostgreSQL database dump
--

\restrict VzBv48bayMNJH9QopFXSVwm24XO4lm89xtiNMQYMPrhDmwXe9W6vF4Bl4tj2shs

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: clientes; Type: TABLE; Schema: public; Owner: cliente_user
--

CREATE TABLE public.clientes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    codigo character varying(20) NOT NULL,
    nombre character varying(255) NOT NULL,
    tipo character varying(20) DEFAULT 'Natural'::character varying NOT NULL,
    rut character varying(20),
    comuna character varying(100),
    telefono character varying(50),
    email character varying(255),
    direccion character varying(500),
    estado character varying(20) DEFAULT 'Activo'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    notas character varying(2000)
);


ALTER TABLE public.clientes OWNER TO cliente_user;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: cliente_user
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO cliente_user;

--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: cliente_user
--



--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: cliente_user
--

COPY public.flyway_schema_history (installed_rank, version, description, type, script, checksum, installed_by, installed_on, execution_time, success) FROM stdin;
1	1	Create cliente table	SQL	V1__Create_cliente_table.sql	274480753	cliente_user	2026-07-08 04:15:59.761429	27	t
2	2	Add notas to cliente	SQL	V2__Add_notas_to_cliente.sql	-2086403255	cliente_user	2026-07-08 04:15:59.809451	3	t
\.


--
-- Name: clientes clientes_codigo_key; Type: CONSTRAINT; Schema: public; Owner: cliente_user
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_codigo_key UNIQUE (codigo);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: cliente_user
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: cliente_user
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: cliente_user
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_clientes_codigo; Type: INDEX; Schema: public; Owner: cliente_user
--

CREATE INDEX idx_clientes_codigo ON public.clientes USING btree (codigo);


--
-- Name: idx_clientes_comuna; Type: INDEX; Schema: public; Owner: cliente_user
--

CREATE INDEX idx_clientes_comuna ON public.clientes USING btree (comuna);


--
-- Name: idx_clientes_estado; Type: INDEX; Schema: public; Owner: cliente_user
--

CREATE INDEX idx_clientes_estado ON public.clientes USING btree (estado);


--
-- Name: idx_clientes_nombre; Type: INDEX; Schema: public; Owner: cliente_user
--

CREATE INDEX idx_clientes_nombre ON public.clientes USING btree (nombre);


--
-- Name: idx_clientes_tipo; Type: INDEX; Schema: public; Owner: cliente_user
--

CREATE INDEX idx_clientes_tipo ON public.clientes USING btree (tipo);


--
-- PostgreSQL database dump complete
--

\unrestrict VzBv48bayMNJH9QopFXSVwm24XO4lm89xtiNMQYMPrhDmwXe9W6vF4Bl4tj2shs

